/* Global Rules */
:root {
    --main-color: #19283F;
    --red-color: #FF3150;
    --sky-color: #33d1cc;
    --yellow-color: #FFC429;
}
body {
    min-height: 10000px;
    font-family: "Roboto", sans-serif;
}
/* Global Rules */

/* Start Navbar */
.container {
    background-color: var(--main-color)
}
.navbar-nav {
    .search-icon {
        border-color: var(--sky-color) !important;
        svg {
            color: var(--sky-color);
        }
    }
    .btn {
        background-color: var(--red-color);
        color: var(--yellow-color);
        &:hover {
            color: var(--yellow-color);
        }
    }
    .nav-link.active,
    .nav-link:hover {
        color: #1FB1CC !important;
    }
}
/* End Navbar */