/* Global Rules */
:root {
    --main-color: #19283F;
    --red-color: #FF3150;
    --sky-color: #33d1cc;
    --yellow-color: #FFC429;
    --section-color: #eff7fa;
}
body {
    min-height: 10000px;
    font-family: "Roboto", sans-serif;
}
/* Global Rules */

/* Start Navbar */
.navbar {
    background-color: var(--main-color);
    .navbar-nav {
        .search-icon {
            border-color: var(--sky-color) !important;
            svg {
                color: var(--sky-color);
            }
        }
        .nav-link.active,
        .nav-link:hover {
            color: #1FB1CC !important;
        }
    }
    .btn {
        background-color: var(--red-color);
        color: var(--yellow-color);
        &:hover {
            color: var(--yellow-color);
        }
    }
    .navbar-toggler[aria-expanded="true"] {
        border-color: var(--sky-color) !important;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
}
/* End Navbar */

/* Start Landing */
.landing {
    background-color: var(--main-color);
    min-height: calc(100vh - 70px);
    .btn {
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
}
/* End Landing */

/* Start Features */
.title::before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    height: 2px;
    width: 7em;
    background-color: var(--sky-color);
    transform: translate(-50%, -50%);
}
.feat {
    h4 {
        color: var(--yellow-color);
    }
    .feat-icon {
        height: 200px;
        .num {
            font-size: 12rem;
            color: var(--section-color);
        }
        .icon {
            font-size: 4rem;
            color: var(--sky-color);
        }
    }
}
/* End Features */

/* Start Gallery */
.gallery {
    background-color: var(--section-color);
    .navbtns li.active {
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
    .pic-box::before {
        position: absolute;
        content: attr(data-work);
        width: calc(100% - 32px);
        height: calc(100% - 8px);
        background-color: #33d1ccb8;
        left: -100%;
        top: 4px;
        transition: .3s;
        color: white;
        font-size: 25px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pic-box:hover::before {
        left: 16px;
    }
    .more-btn {
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
}
/* End Gallery */

/* Start About */
.about {
    .description {
        max-width: 500px;
    }
    .btn {
        background-color: var(--red-color);
        color: var(--yellow-color);
    }
}
/* End About */

/* Start Team */
.team {
    background-color: var(--section-color);
    h2 {
        color: var(--yellow-color);
    }
    .mem {
        h4 {
            background-color: var(--sky-color);
        }
    }
}
/* End Team */